/* @@author teclu */

/* Start: Default Settings */
.root {
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #ffffff;
    -fx-font-size: 14pt;
}

.background {
    -fx-background-color: #333333;
    background-color: #333333; /* Used in the default.html file */
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: #515151;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 1 1 1 1;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 8 0 8;
}

.split-pane-divider {
    -fx-background-color: transparent;
}

#tags {
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: #ffffff;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#mainWindow .split-pane {
    -fx-background-color: #333333;
    -fx-background-image: url("../images/DarkThemeBackground.png") no-repeat center center;
}

#mainWindow .VBox {
    -fx-border-width: 5px;
}

/* End: Default Settings */

/* Start: Menu Bar */
.menu-bar {
    -fx-background-color: #43484f;
    -fx-border-color: #35393f;
    -fx-border-width: 0 0 1 0;
}

.menu-bar .menu {
    -fx-background-color: #43484f;
}

.menu-bar .menu:hover {
    -fx-background-color: #35393f;
}

.menu-bar .menu .label {
    -fx-text-fill: #ffffff;
}

.menu-bar .menu-item {
    -fx-background-color: #ffffff;
}

.menu-bar .menu-item:hover {
    -fx-background-color: #f2f2f2;
}

.menu-bar .menu-item .label {
    -fx-text-fill: #000000;
}
/* End: Menu Bar */

/* Start: Person List Card */
#personList {
    -fx-background-color: #333333;
}

#personListView {
    -fx-background-color: transparent #383838 transparent #383838;
}

#cardPane #name, #id {
    -fx-font-size: 18pt;
    -fx-text-fill: #EEEEEE;
}

#cardPane #tags .label {
    -fx-font-size: 13pt;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: #333333;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
    -fx-border-color: #3e7b91;
    -fx-border-width: 1px;
}

/* End: Person List Card */

/* Start: Person Panel */
#personPanelPlaceholder {
    -fx-background-color: transparent;
}

#primaryDetails {
    -fx-background-color: #3c3e3f;
}

#secondaryDetails {
    -fx-font-family: "Calibri Light";
    -fx-background-color: #515658;
}

#personPanel #name {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 42pt;
}

#personPanel #tags .label {
    -fx-font-family: "Calibri";
    -fx-font-size: 20pt;
}

#personPanel #address, #personPanel #email, #personPanel #phone, #personPanel #birthday {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 18pt;
}

#personPanel #address, #personPanel #email, #personPanel #phone, #personPanel #birthday {
    -fx-font-size: 18pt;
    -fx-label-padding: 0 0 0 42;
    -fx-background-position: 10 5;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 32px;
}

#personPanel #address {
    -fx-background-image: url("../images/AddressIcon.png");
}

#personPanel #email {
    -fx-background-image: url("../images/EmailIcon.png");
}

#personPanel #phone {
    -fx-background-image: url("../images/PhoneIcon.png");
}

#personPanel #birthday {
    -fx-background-image: url("../images/BirthdayIcon.png");
}
/* End: Person Panel */

/* Start: Command Box */
.result-display {
    -fx-font-family: "Courier New";
    -fx-background-color: transparent;
    -fx-font-size: 14pt;
    -fx-text-fill: #eeeeee;
}

.text-field {
    -fx-background-color: #444444;
    -fx-font-family: "Courier New";
    -fx-font-size: 14pt;
}

.text-area {
    -fx-background-color: #444444;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#commandTextField {
    -fx-text-fill: #eeeeee;
}

.pane-with-border {
    -fx-background-color: #333333;
    -fx-border-color: #333333;
    -fx-border-top-width: 1px;
}
/* End: Command Box */

/* Start: Status Bar */
.status-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.status-bar .label {
    -fx-font-size: 12pt;
    -fx-text-fill: #EEEEEE;
}
/* End: Status Bar */
