/* @@author teclu */

/* Start: Default Settings */
.root {
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #333333;
    -fx-font-size: 14pt;
}

.background {
    -fx-background-color: #f7f5f4;
    background-color: #ffffff; /* Used in the default.html file */
}

.scroll-bar {
    -fx-background-color: #e2ffe3;
}

.scroll-bar .thumb {
    -fx-background-color: #08910d;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 1 1 1 1;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 8 0 8;
}

.split-pane-divider {
    -fx-background-color: transparent;
}

#tags {
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: #ffffff;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#mainWindow .split-pane {
    -fx-background-color: #f7f5f4;
    -fx-background-image: url("../images/LightThemeBackground.png") no-repeat center center;
}

#mainWindow .VBox {
    -fx-border-width: 5px;
}
/* End: Default Settings */

/* Start: Menu Bar */
.menu-bar {
    -fx-background-color: #009607;
    -fx-border-color: #007c06;
    -fx-border-width: 0 0 1 0;
}

.menu-bar .menu {
    -fx-background-color: #009607;
}

.menu-bar .menu:hover {
    -fx-background-color: #007c06;
}

.menu-bar .menu .label {
    -fx-text-fill: #eeeeee;
}

.menu-bar .menu-item {
    -fx-background-color: #ffffff;
}

.menu-bar .menu-item:hover {
    -fx-background-color: #f2f2f2;
}

.menu-bar .menu-item .label {
    -fx-text-fill: #333333;
}
/* End: Menu Bar */

/* Start: Person List Card */
#personList {
    -fx-background-color: #f7f5f4;
}

#personListView, #personListPanelPlaceholder {
    -fx-background-color: #f7f5f4;
}

#cardPane #name, #id {
    -fx-font-size: 18pt;
    -fx-text-fill: #333333;
}

#cardPane #tags .label {
    -fx-font-size: 13pt;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: #f7f5f4;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #c6ffc8;
}

.list-cell:filled:odd {
    -fx-background-color: #dbffdc;
}

.list-cell:filled:selected {
    -fx-background-color: #76bc79;
    -fx-border-color: #5b9e5e;
    -fx-border-width: 1px;
}

/* End: Person List Card */

/* Start: Person Panel */
#personPanelPlaceholder {
    -fx-background-color: transparent;
}

#primaryDetails {
    -fx-background-color: #297c2c;
}

#secondaryDetails {
    -fx-font-family: "Calibri Light";
    -fx-background-color: #f2f2f2;
}

#personPanel #name {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 42pt;
}

#personPanel #tags .label {
    -fx-font-family: "Calibri";
    -fx-font-size: 20pt;
}

#personPanel #address, #personPanel #email, #personPanel #phone, #personPanel #birthday {
    -fx-font-size: 18pt;
}
/* End: Person Panel */

/* Start: Command Box */
.result-display {
    -fx-font-family: "Courier New";
    -fx-font-size: 14pt;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-font-family: "Courier New";
    -fx-font-size: 14pt;
}
/* End: Command Box */

/* Start: Status Bar */
.status-bar {
    -fx-background-color: #e0e0e0;
}

.status-bar .label {
    -fx-font-size: 12pt;
    -fx-text-fill: #333333;
}
/* End: Status Bar */
